
.warn-text {
  color: red;
  font-style: italic;
}

.output-text {
  font-size: 1.5em;
  margin: 10px;
  padding: 10px;
}

.btn.btn-default {
  color: #ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.login-text {
  color: #e2001a;
  font-size: 50px;
  font-weight: bold;
}

.welcome-row-div {
  height: 100px;
  background-color: #76d2e4;
}
